/*Breakpoints*/
/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  color: #101010;
  font-size: 1rem;
}

header, form, main, footer {
  animation: fadeIn 2s ease-in-out 3s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #ffffff;
  padding: 0.9rem 0 0.3rem 0;
  z-index: 999;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.875rem;
  font-weight: 400;
  color: #101010;
}
@media screen and (min-width: 895px) {
  .header__logo {
    font-size: 2rem;
  }
}
.header__back {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #101010;
  opacity: 0;
  pointer-events: none;
}
.header--with-back .header__back {
  opacity: 1;
  pointer-events: all;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 1.375rem 1.5625rem;
}
@media screen and (min-width: 895px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    height: 114px;
  }
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-right: 1.8rem;
}
@media screen and (min-width: 895px) {
  .footer__title {
    margin-top: 1.6rem;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
@media screen and (min-width: 895px) {
  .footer__list {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;
  }
}
.footer__list *:nth-child(2) {
  margin-right: 2rem;
}
.footer__list > *:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.footer__list > *:nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
.footer__list > *:nth-child(3) {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 400;
}
.footer__list > *:nth-child(4) {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  font-weight: 400;
}
.footer svg {
  fill: white;
  width: 0.9rem;
  height: 1rem;
  margin-right: 0.5rem;
  stroke-width: 0;
}
.footer i {
  margin-right: 0.8rem;
}
.footer .fa-utensils {
  color: white;
}
.footer a {
  color: inherit;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.65rem 1rem;
  background-color: #eaeaea;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}
.location__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 9rem;
  padding: 0.3rem 0;
  gap: 1rem;
}
.location__label {
  color: rgb(53, 53, 53);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-size: 1rem;
}
.location__icon {
  color: rgb(53, 53, 53);
}
.location__input {
  flex: 0 1 auto;
  min-width: 0;
  border: none;
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-radius: 6px;
  outline: none;
}
.location__input::placeholder {
  color: rgb(53, 53, 53);
  font-family: "Roboto", sans-serif;
  opacity: 1;
  font-weight: 500;
}
.location__input:focus::placeholder {
  opacity: 0;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0rem;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 500px) {
  .restaurant-card {
    max-width: 490px;
    align-self: center;
  }
}
@media screen and (min-width: 650px) {
  .restaurant-card {
    max-width: 48%;
  }
}
@media screen and (min-width: 895px) {
  .restaurant-card {
    max-width: 46%;
  }
}
.restaurant-card input {
  display: none;
}
.restaurant-card__img {
  width: 100%;
  max-height: 178px;
  object-fit: cover;
  object-position: center bottom;
}
.restaurant-card:nth-child(1) img {
  object-position: center 60%;
}
.restaurant-card:nth-child(2) img {
  object-position: center 60%;
}
.restaurant-card:nth-child(3) img {
  object-position: center 80%;
}
.restaurant-card:nth-child(4) img {
  object-position: center 80%;
}
.restaurant-card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0rem;
  padding: 0.8rem 1.5rem 0.9rem 0.8rem;
  max-height: 230px;
}
.restaurant-card__txt {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  gap: 0.23rem;
}
.restaurant-card__txt h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
  color: #101010;
}
.restaurant-card__txt p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.0625rem;
  line-height: 1.2;
  text-align: center;
  color: #101010;
}
.restaurant-card__like {
  position: absolute;
  bottom: 2.05rem;
  right: 1.5rem;
}
.restaurant-card__like .fa-heart {
  transform: scale(1.5);
}
.restaurant-card .like-label {
  position: relative;
  display: inline-block;
}
.restaurant-card .like-label .full-heart {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  color: transparent;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.restaurant-card__like:has(input:checked) .full-heart {
  opacity: 1;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.btn:hover {
  opacity: 0.85;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  display: inline-block;
  padding: 1rem 1.3rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: -1;
  transition: opacity ease-out 300ms;
}

.stepItem {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1.3rem;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 1px rgb(216, 216, 216);
  font-family: "Roboto", sans-serif;
  padding: 1.5rem 0;
  cursor: default;
  max-width: 700px;
  width: 100%;
}
@media screen and (min-width: 650px) {
  .stepItem {
    max-width: 100%;
  }
}
@media screen and (min-width: 895px) {
  .stepItem {
    max-width: 100%;
  }
}
.stepItem__number {
  text-align: center;
  padding-top: 0.3rem;
  background-color: #9356DC;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-left: -0.7rem;
}
.stepItem__iconWrap {
  display: flex;
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.stepItem__icon {
  color: #7e7e7e;
}
.stepItem__icon--colored {
  position: absolute;
  top: 0;
  left: 0;
  color: #9356DC;
  opacity: 0;
  z-index: 10;
}
.stepItem:hover .stepItem__icon--colored {
  opacity: 1;
}
.stepItem__text {
  align-self: flex-end;
  padding-left: 0.3rem;
  padding-right: 0.5rem;
  font-weight: 500;
}

.animContainer {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: rgba(209, 209, 209, 0.2862745098);
  animation: fadeOut 3s ease forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.spinner {
  background-color: rgba(146, 86, 220, 0.0431372549);
  z-index: 1;
  position: absolute;
  width: 15rem;
  height: 15rem;
  border: 0.3rem solid transparent;
  border-right-color: #003A68;
  border-bottom-color: #003A68;
  border-radius: 50%;
  animation: spin 1s ease-in-out 3;
  box-shadow: #9356dc 0 0 10px, #e3e7e6 0 0 20px, #ff79da 0 0 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  position: relative;
  display: inline-flex;
  width: 30rem;
  height: 10rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  z-index: 2;
}

.loader__letter {
  position: absolute;
  display: inline;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  color: #003A68;
}

.oh {
  animation-name: showOh;
  font-size: 2rem;
}

@keyframes showOh {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  25.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.my {
  animation-name: showMy;
  font-size: 2.5rem;
}

@keyframes showMy {
  0% {
    opacity: 0;
  }
  37.5% {
    opacity: 0;
  }
  37.51% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  62.51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.food {
  animation-name: showFood;
  background: #9356dc;
  background: linear-gradient(90deg, rgb(147, 86, 220) 34%, rgb(255, 121, 218) 100%);
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

@keyframes showFood {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.heroHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0rem;
  padding: 1.5rem 1.2rem 3.5rem 1.2rem;
  background-color: #f6f6f6;
}
.heroHome__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: unset;
  text-align: center;
  padding: 0.8rem 1.7rem;
}
@media screen and (min-width: 500px) {
  .heroHome__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 895px) {
  .heroHome__title {
    font-size: 2.5rem;
  }
}
.heroHome__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.2;
  text-align: center;
  padding: 0 0.8rem 1.8rem 1rem;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.8rem;
  padding: 3rem 1.2rem 4rem 1.25rem;
  background-color: #ffffff;
  max-width: 1080px;
}
@media screen and (min-width: 650px) {
  .steps {
    max-width: 618px;
    align-items: flex-start;
    margin: 0 auto;
  }
}
@media screen and (min-width: 895px) {
  .steps {
    max-width: 1080px;
    align-items: flex-start;
    box-sizing: content-box;
  }
}
.steps__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: unset;
}
@media screen and (min-width: 650px) {
  .steps__title {
    align-self: flex-start;
  }
}
.steps__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  counter-reset: step-counter;
  width: 100%;
}
@media screen and (min-width: 895px) {
  .steps__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.2rem;
  padding: 3rem 1.2rem 4rem 1.25rem;
  background-color: #f6f6f6;
  background: #f6f6f6;
}
.restaurants__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: unset;
  width: 100%;
}
@media screen and (min-width: 650px) {
  .restaurants__title {
    width: 100%;
    max-width: 618px;
  }
}
@media screen and (min-width: 895px) {
  .restaurants__title {
    max-width: 1080px;
    align-self: center;
    margin: 0;
  }
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
  width: 100%;
}
@media screen and (min-width: 650px) {
  .restaurants__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 895px) {
  .restaurants__list {
    gap: 3rem;
    width: 100%;
    max-width: 1080px;
    align-self: center;
  }
}
.restaurants__list > *:nth-child(1) a::before {
  content: "Nouveau";
  position: absolute;
  right: 0.75rem;
  top: 0.8125rem;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.4rem 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  font-size: 0.875rem;
}
.restaurants__list > *:nth-child(2) a::before {
  content: "Nouveau";
  position: absolute;
  right: 0.75rem;
  top: 0.8125rem;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  padding: 0.4rem 0.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  font-size: 0.875rem;
}

/*# sourceMappingURL=main.css.map */
