@use "../abstracts/variables" as vars;

@mixin flex-cont($direction: row,$justify: flex-start,$align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin box-shadow($x: 0px, $y: 4px, $blur: 0px, $spread: 0px, $color: rgba(0, 0, 0, 0.8)) {
  box-shadow: $x $y $blur $spread $color;
}

@mixin button-default {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 25px;
  background: vars.$button-gradient;
  color: vars.$white;
  text-decoration: none;
  cursor: pointer;
}