@use 'variables' as vars;

/// Flex container
@mixin flex-cont($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

/// Bouton de base
@mixin button-default {
  display: inline-block;
  padding: 1rem 1.3rem;
  border: none;
  border-radius: 25px;
  background: vars.$button-gradient;
  color: vars.$white;
  text-decoration: none;
  cursor: pointer;
}

/// Box shadow
@mixin box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
}
