$black: #101010;
$white: #ffffff;
$grey-bg : #eaeaea;
$font-color : rgba(53, 53, 53, 1);

$primary:#9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

$blue2: #003A68;
$blue: #89C8FA;
$green-font: #008766;
$green: #99E2D0;
$pink: #fcc0ce;

$button-gradient: linear-gradient(193.33deg, #FF79DA 123.93%, #9356DC -11.44%);
$like-gradient: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

$font-logo: 'Shrikhand', cursive;
$font-home-main: 'Roboto', sans-serif;





