@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;
@use "../base/typography" as typo;

.footer {
  @include mixins.flex-cont(column, flex-start, flex-start, 1rem);
  background-color: vars.$color-header-icon;
  color: white;
  padding: 1.375rem 1.5625rem;

  @include mixins.respond-to(vars.$bkp-895) {
    @include mixins.flex-cont(row-reverse, flex-start, center, 5rem);
    height: 114px;
    }

  &__title {
    font-family: vars.$font-logo;
    font-weight: 100;
    margin-right: 1.8rem;
    @include mixins.respond-to(vars.$bkp-895) {
      margin-top: 1.6rem;
    }
  }
  &__list {
    @include mixins.flex-cont(column, flex-start, flex-start, 0.5rem);
    @include mixins.respond-to(vars.$bkp-895) {
      margin-top: 2rem;
      @include mixins.flex-cont(row, flex-end, flex-start, 1rem);
    }
  }
  &__list *:nth-child(2) {
    margin-right: 2rem;
  }

  @each $j in 1, 2 {
    &__list > *:nth-child(#{$j}) {
      @include typo.home-typo-button;
    }
  }

  @each $i in 3, 4 {
    &__list > *:nth-child(#{$i}) {
      @include typo.home-typo-button {
        font-weight: 400;
      }
    }
  }

  svg {
    fill: white;
    width: 0.9rem;
    height: 1rem;
    margin-right: 0.5rem;
    stroke-width: 0;
  }
  i {
    margin-right: 0.8rem;
  }
  .fa-utensils {
    color: white;
  }
  a {
    color: inherit;
  }
}
