@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.header {
  position: relative;
  @include mixins.flex-cont(row, center, center);
  background-color: vars.$white;
  padding: 0.9rem 0 0.3rem 0;
  z-index: 999;
  @include mixins.box-shadow(0px, 2px, 4px, 0px, rgba(0, 0, 0, 0.15));
  &__logo {
    font-family: vars.$font-logo;
    font-size: 1.875rem;
    font-weight: 400;
    color: vars.$black;

    @include mixins.respond-to(vars.$bkp-895) {
    font-size: 2rem;
  }
  }

  &__back {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: vars.$black;
    opacity: 0;
    pointer-events: none;
  }

  &--with-back &__back {
    opacity: 1;
    pointer-events: all;
  }
}
