@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.header {
  position: relative;
  @include mixins.flex-cont(row, center, center);
  height: 4rem;
  background-color: vars.$white;
  @include mixins.box-shadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.15));

  &__logo {
    font-family: vars.$font-logo;
    font-size: 1.875rem;
    font-weight: 400;
    color: vars.$black;
  }

  &__back {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: vars.$black;
    opacity: 0;
    pointer-events: none;
  }

  &--with-back &__back {
    opacity: 1;
    pointer-events: all;
  }
}
