@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as typo;

.hero {
  @include mix.flex-cont(column, flex-start, center);
  padding: 2rem 1rem;
  text-align: center;
  background-color: vars.$grey-bg;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: vars.$font-home-main;
  }

  &__subtitle {
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 2rem;
    font-family: vars.$font-home-main;
  }
}
