@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as typo;

.hero {
  @include mix.flex-cont(column, flex-start, center);
  padding: 2.5rem 1rem 3.4rem 1rem;
  background-color: vars.$hero-bg;
  &__title {
    @include typo.home-typo-title;
    margin-bottom: 1rem;
    padding: 0 1.9rem;
  }
  &__subtitle {
    @include typo.home-typo-paragraph;
    margin-bottom: 1.8rem;
    padding: 0 0.5rem;
  } 
}

