@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;
@use '../base/typography' as typo;

.restaurant-card {
  @include mix.flex-cont(column, flex-start, stretch, 0rem);
  background-color: vars.$white;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  position: relative;
  
  &__img {
    width: 100%;
    max-height: 178px;
    object-fit: cover;
    object-position: center bottom;
    
  }
  &__img.patch-position {
    object-position: center 60%;
  }

  &__content {
    @include mix.flex-cont(row, space-between, stretch, 0rem);
    padding: 0.8rem 1.5rem 0.9rem 0.8rem;
    max-height: 230px;
  }

  &__txt {
    @include mix.flex-cont(column, stretch, flex-start, 0.23rem);

    h3 {
    @include typo.card-typo-title;
    color: vars.$black;
    }

    p {
      @include typo.card-typo-paragraph;
      color: vars.$black;
    }
  }

  &__like {
    position: absolute;
    bottom: 2.05rem;
    right: 1.5rem;
  }

  &__like > .fa-regular.fa-heart {
    font-size: 1.5rem;
    color: vars.$white;
  }
  
}
  





