@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as typo;

.restaurant-card {
  @include mix.flex-cont(column, flex-start, stretch, 0rem);
  background-color: vars.$white;
  border-radius: 1rem;
  overflow: hidden;
  width: 100%;
  position: relative;

  input {
    display: none;
  }

  &__img {
    width: 100%;
    max-height: 178px;
    object-fit: cover;
    object-position: center bottom;
  }
  &__img.patch-position {
    object-position: center 60%;
  }

  &__content {
    @include mix.flex-cont(row, space-between, stretch, 0rem);
    padding: 0.8rem 1.5rem 0.9rem 0.8rem;
    max-height: 230px;
  }

  &__txt {
    @include mix.flex-cont(column, stretch, flex-start, 0.23rem);

    h3 {
      @include typo.card-typo-title;
      color: vars.$black;
    }

    p {
      @include typo.card-typo-paragraph;
      color: vars.$black;
    }
  }

  &__like {
    position: absolute;
    bottom: 2.05rem;
    right: 1.5rem;
  }

  &__like .fa-heart {
    transform: scale(1.5);
  }
  .like-label {
    position: relative;
    display: inline-block;

    .full-heart {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background: vars.$button-like;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      transition: opacity 0.5s ease;
      pointer-events: none;
    }
  }
  &__like:has(input:checked) .full-heart {
    opacity: 1;
  }
}
