@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;
@use '../base/typography' as typo;

.restaurant-card {
  @include mix.flex-cont(column, flex-start, stretch, 0.5rem);
  background-color: vars.$white;
  border-radius: 1rem;
  overflow: hidden;
  
  &__img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    object-position: center bottom;
  }

  &__content {
    @include mix.flex-cont(row, space-between, stretch, 2rem);
    padding: 0.5rem;
    max-height: 251px;
  }

    &__txt {
    @include mix.flex-cont(column, stretch, center, 1rem);
    gap: 0.25rem;

    h3 {
      @include typo.card-typo-title;
      color: vars.$black;
    }

    p {
      @include typo.home-typo-paragraph;
      color: vars.$black;
    }
  }

  &__like {
    font-size: 1.5rem;
  }
}