@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

.location {
  @include mixins.flex-cont(row, center, center);
  padding: 0.65rem 1rem;
  background-color: vars.$grey-bg;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));

  &__container {
    @include mixins.flex-cont(row, center, center);
    width: 9rem;
    padding: 0.3rem 0;
    gap: 1rem;
  }

  &__label {
    color: vars.$font-color;
    @include mixins.flex-cont(row, center, center);
    font-size: 1rem;
  }

  &__icon {
    color: vars.$font-color;
  }

  &__input {
    flex: 0 1 auto;
    min-width: 0; // important pour éviter le dépassement dans flexbox
    border: none;
    background-color: vars.$grey-bg;
    font-family: vars.$font-home-main;
    font-size: 1rem;
    border-radius: 6px;
    outline: none;

    &::placeholder {
      color: vars.$font-color;
      font-family: vars.$font-home-main;
      opacity: 1;
      font-weight: 500;
    }
    &:focus::placeholder {
      opacity: 0;
    }
  }
}
