@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;


 .stepItem {
    position: relative;
    @include mixins.flex-cont(row, flex-start, flex-end, 1.3rem);
    background-color: vars.$hero-bg;
    border-radius: 20px;
    @include mixins.box-shadow(0px, 4px, 15px, 1px, rgb(216, 216, 216));
    font-family: vars.$font-home-main;
    padding: 1.5rem 0;
    cursor: default;
    
    &__number {
      text-align: center;
      padding-top: 0.3rem;
      background-color: vars.$primary;
      color: vars.$white;
      font-family: vars.$font-home-main;
      font-weight: 500;
      font-size: 0.8rem;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      margin-left: -0.7rem;
    }

    &__iconWrap {
      display: flex;
      position: relative;
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }
    &__icon {
      color: vars.$color-step-icon;


    }
    &__icon--colored {
      position: absolute;
      top: 0;
      left: 0;
      color: vars.$primary;
      opacity: 0;
      z-index: 10;
    }

    &:hover .stepItem__icon--colored {
      opacity: 1;
    }

    &__text {
      align-self: flex-end;
      padding-left: 0.3rem;
      padding-right: 4.5rem;
      font-weight: 500;
    }
  }




