@use '../abstracts/variables' as vars;

h1, h2, h3, h4, h5, h6 {
  font-family: vars.$font-title;
}

p, span, li, input, textarea, button {
  font-family: vars.$font-main;
  font-size: 1rem;
  line-height: 1;
}
