@use '../abstracts/variables' as vars;


@mixin home-typo-title {
  font-family: vars.$font-home-main;
  font-weight: 700;
  font-size: 1.5rem; // 24px
  line-height: 1.2;
}

@mixin home-typo-paragraph {
  font-family: vars.$font-home-main;
  font-weight: 300;
  font-size: 1.125rem; // 18px
  line-height: 1.2;
  text-align: center;
}

@mixin home-typo-button {
  font-family: vars.$font-home-main;
  font-weight: 500;
  font-size: 1rem; // 16px
  line-height: 1.2;
}
