@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as typo;

.heroHome {
  @include mix.flex-cont(column, flex-start, center, 0rem);
  padding: 1.5rem 1.2rem 3.5rem 1.2rem;
  background-color: vars.$hero-bg;

  &__title {
    @include typo.home-typo-title;
    padding: 0.8rem 1.7rem;
   
  }

  &__subtitle {
    @include typo.home-typo-paragraph;
    padding: 0 0.8rem 1.8rem 1rem;
  }
}

.steps {
  @include mix.flex-cont(column, flex-start, flex-end, 1.8rem);
  padding: 3rem 1.2rem 4rem 1.25rem;
  background-color: vars.$white;
  
  &__title {
    @include typo.home-typo-title;
    align-self: flex-start;
  }

  &__list {
    align-self: stretch;
    padding-left: 0.8rem;
    @include mix.flex-cont(column, flex-start, stretch, 1rem);
    counter-reset: step-counter;
  }
}

.restaurants {
  @include mix.flex-cont(column, flex-start, flex-start, 1.2rem);
  padding: 3rem 1.1rem;
  background-color: vars.$hero-bg;
  
  &__title {
    @include typo.home-typo-title;
    align-self: flex-start;
  }

  &__list {
    @include mix.flex-cont(column, flex-start, center, 1.5rem);
    width: 100%;
  }

  a {
  display: block;
  width: 100%;
  max-width: unset;
  }
 
}

// svg {
//   pointer-events: none; /* Le SVG entier ne capte rien */
// }

// svg path {
//   pointer-events: auto; /* Seul le path capte les événements */
// }



