@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as typo;

.home {
  header,
  form,
  main,
  footer {
    animation: fadeIn 2s ease-in-out 3s both;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}

.heroHome {
  @include mix.flex-cont(column, flex-start, center, 0rem);
  padding: 1.5rem 1.2rem 3.5rem 1.2rem;
  background-color: vars.$hero-bg;

  &__title {
    @include typo.home-typo-title {
      text-align: center;
    }
    @include mix.respond-to(vars.$bkp-500) {
      font-size: 2rem;
    }
    @include mix.respond-to(vars.$bkp-895) {
      font-size: 2.5rem;
    }
    padding: 0.8rem 1.7rem;
  }

  &__subtitle {
    @include typo.home-typo-paragraph;
    padding: 0 0.8rem 1.8rem 1rem;
  }
}

.steps {
  @include mix.flex-cont(column, flex-start, stretch, 1.8rem);
  padding: 3rem 1.2rem 4rem 1.25rem;
  background-color: vars.$white;
  max-width: 1080px;

  @include mix.respond-to(vars.$bkp-650) {
    max-width: 618px;
    align-items: flex-start;
    margin: 0 auto; //permet de centrer le bloc
  }
  @include mix.respond-to(vars.$bkp-895) {
    max-width: 1080px;
    align-items: flex-start;
    box-sizing: content-box;
  }

  &__title {
    @include typo.home-typo-title;
    @include mix.respond-to(vars.$bkp-650) {
      align-self: flex-start;
    }
  }

  &__list {
    @include mix.flex-cont(column, flex-start, center, 1.5rem);
    counter-reset: step-counter;
    width: 100%;

    @include mix.respond-to(vars.$bkp-895) {
      @include mix.flex-cont(row, space-between, center, 2rem);
    }
  }
}

.restaurants {
  @include mix.flex-cont(column, flex-start, stretch, 1.2rem);
  padding: 3rem 1.2rem 4rem 1.25rem;
  background-color: vars.$hero-bg;
  background: vars.$hero-bg;

  &__title {
    @include typo.home-typo-title;
    width: 100%;

    @include mix.respond-to(vars.$bkp-650) {
      width: 100%;
      max-width: 618px;
    }

    @include mix.respond-to(vars.$bkp-895) {
      max-width: 1080px;
      align-self: center;
      margin: 0;
    }
  }

  &__list {
    @include mix.flex-cont(column, flex-start, flex-start, 1.2rem);
    width: 100%;

    @include mix.respond-to(vars.$bkp-650) {
      @include mix.flex-cont(row, space-between, center, 1.5rem);
      flex-wrap: wrap;
    }

    @include mix.respond-to(vars.$bkp-895) {
      gap: 3rem;
      width: 100%;
      max-width: 1080px;
      align-self: center;
    }
  }

  @each $i in 1, 2 {
    &__list > *:nth-child(#{$i}) a::before {
      content: "Nouveau";
      position: absolute;
      right: 0.75rem;
      top: 0.8125rem;
      align-items: center;
      background-color: vars.$green;
      color: vars.$green-font;
      padding: 0.4rem 0.7rem;
      @include typo.home-typo-button {
        font-size: 0.875rem;
      }
    }
  }
}
